@import "../../sass_mixins/mixin.scss";

footer{
    padding: 6px 2%;
    background-color: #363f72;
    text-align: center;
    color: #fff;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}