@import "../../sass_mixins/mixin.scss";

header{
  padding: 10px 1%;
  background-color: #363f72;
  @include define_flex(flex-start,center);

  .title{
    position: relative;
    left: -1.5vw;
  };

  .logo{
    width: 40px;
    height: 40px;
      img{
        @include max_dimensions;
      }
  }

  h2{
    color: #fff;
    margin: 0 auto;
  }
}