@import "../../sass_mixins/mixin.scss";

header{
  padding: 10px 2%;
  background-color: #363f72;
  @include define_flex(flex-start,center);
  text-align: center;


  .logo{
    width: 40px;
    height: 40px;
      img{
        @include max_dimensions;
      }
  }

  h2{
    color: #fff;
    margin: 0 auto;
  }
}