@import "../../sass_mixins/mixin.scss";

.container {
  @include define_flex(center, center);
  flex-direction: column;
}

.tickets_container {
  @include define_flex(space-evenly, center);
  width: 100%;
  max-height: 79vh;
  padding: 10px;
  overflow-y: auto;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;

}

.load-ticket {
  font-size: 22px;
  color: #fff;
  position: absolute;
  top: 13vh;
  left: 0;
  width: 100%;
}

.view-more{
  @include define_flex(center, center);
  margin-top: 2vh;
  bottom: 18px;
  width: 100%;

}


button {
  padding: 10px 22px;
  cursor: pointer;
  min-width: 100px;
  border-radius: 10px;
  border: none;
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-size: 16px;
  transition: .5s;
  border: 2px solid rgb(44, 43, 43);
}

button:hover{
  background-color: rgba(0,0,0,0.8);
}

@media (max-width: 300px){

  .tickets_container{
    max-height: 100vh;
    overflow-y: auto;
    
  }

  .view-more{
    left: 25vw;
    bottom: -10px;
  }
}

