@import "../../sass_mixins/mixin.scss";

.tickets_container{
  width: 100%;
  max-width: 1100px;
  max-height: 72vh;
  margin-top: 5vh;
  padding: 10px;
  overflow-y: auto ;
  @include define_flex(space-evenly,center);
  flex-wrap: wrap;
  gap: 20px;


  }