@import "../../sass_mixins/mixin.scss";

.form {
  width: 100%;
  max-width: 260px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 40px 1%;
  border-radius: 10px;
  margin: 4% auto;

  .form-login{
    margin: 7% auto;

  }

  .form-register, .form-login {
    input {
      width: 100%;
      max-width: 220px;
      display: block;
      margin: 30px auto;
      height: 28px;
      padding-left: 5px;
      outline: 0;
      border: none;
      color: white;
      transition: 0.5s;
      border-radius: 5px;
    }

    input[type="submit"] {
      background-color: rgba(0, 0, 0, 0.9);
      width: 200px;
      height: 30px;
      cursor: pointer;
      transition: 0.5s;
    }

    a{
        color: #ccc;
        text-decoration: none;
        text-align: center;
    }
  }

  input:not([type="submit"]):focus {
    max-width: 240px;
  }

  input[type="submit"]:hover {
    background-color: rgb(41, 40, 40);
  }

  input[type="submit"]:disabled {
    cursor: wait;
  }
}
