*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
<<<<<<< HEAD
    font-family: Arial, Helvetica, sans-serif;
}
=======
 }

html,body{
    height: 100%;
 }
>>>>>>> 27bbfb163d4d21538ad8acfe053fbb88ff530545
